// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.post {
    &-insta {
        margin-bottom: 15px;
    }
    &-meta {
        background: #fff;
        text-align: left;
        font-weight: bold;
        padding: 10px;
        border: 1px solid #ddd;
        img {
            margin-right: 8px;
        }
    }
    &-details {
        background: #fff;
        padding: 15px;
        border: 1px solid #ddd;
    }
    &-actions {
        margin-bottom: 20px;
        i {
            margin-right: 10px;
            color: #333;
            cursor: pointer;
            &:hover {
                color: #ed4956;
            }
        }
    }
}